#post {
  width: 1000px;
  .content {
    article {
      @include left-container;
      width: 100%;
      padding: 20px 25px;
      border-bottom: 1px solid rgba(178, 186, 194, .15);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    > .comment {
      @include left-container;
      width: 100%;
      padding: 20px 25px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .post-meta {
      font-size: 14px;
      font-weight: 200;
      color: #6E7173;
      margin-bottom: 11px;
      font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
      a {
        color: #404040;
        font-size: 14px;
        font-weight: 200;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
  > .content {
    width: 66%;
  } 
  aside {
    flex-basis: 34%;
    .toc-container {
      @include aside;
      h1 {
        font-size: 1.1em;
        padding-left: 20px;
        margin: 0;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(178,186,194,.15);
        font-weight: normal;
      }
      .content {
        padding: 20px;
        font-size: 1em;
      }
      ol {
        list-style: none;
        &.toc {
          margin: 0;
          padding-left: 0;
          .toc-level-1 {
            > ol {
              padding-left: 1.1em;
            }
          }
          .toc-level-2 {
            > ol {
              padding-left: 1.2em;
            }
          }
          .toc-level-3 {
            > ol {
              padding-left: 2em;
            }
          }
        }
        a {
          transition: $transition;
          &:hover,
          &.active {
            color: $hover-color;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #post {
    width: 1000px;
  }
}

@media (max-width: $breakpoint-desktop) {
  #post {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $breakpoint-phone) {
  #post {
    flex-direction: column;
    > .content {
      order: 1;
      width: 100%;
    }
    aside {
      order: 0;
      .toc-container {
        margin-left: 0;
        ol {
          a {
            &.active {
              color: #909090;
            }
          }
        }
      }
      > div {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  a {
    color: #0366d6;
  }

  figure {
    margin: 0;
    table {
      background-color: #f6f8fa;
      td.code {
        padding: 0;
        border: none;
      }
    }
  }

  &::before {
    display: table;
    content: ""
  }
  &::after {
    display: table;
    clear: both;
    content: ""
  }
  &>*:first-child {
    margin-top: 0 !important
  }
  &>*:last-child {
    margin-bottom: 0 !important
  }
  a:not([href]) {
    color: inherit;
    text-decoration: none
  }
  .absent {
    color: #cb2431
  }
  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1
  }
  .anchor:focus {
    outline: none
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin-top: 0;
    margin-bottom: 16px
  }
  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
  }
  blockquote {
    padding: 0 1em;
    margin-left: 0;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
  }
  blockquote>:first-child {
    margin-top: 0
  }
  blockquote>:last-child {
    margin-bottom: 0
  }
  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
  }
  h1 .octicon-link,
  h2 .octicon-link,
  h3 .octicon-link,
  h4 .octicon-link,
  h5 .octicon-link,
  h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden
  }
  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    text-decoration: none
  }
  h1:hover .anchor .octicon-link,
  h2:hover .anchor .octicon-link,
  h3:hover .anchor .octicon-link,
  h4:hover .anchor .octicon-link,
  h5:hover .anchor .octicon-link,
  h6:hover .anchor .octicon-link {
    visibility: visible
  }
  h1 tt,
  h1 code,
  h2 tt,
  h2 code,
  h3 tt,
  h3 code,
  h4 tt,
  h4 code,
  h5 tt,
  h5 code,
  h6 tt,
  h6 code {
    font-size: inherit
  }
  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef
  }
  h3 {
    font-size: 1.25em
  }
  h4 {
    font-size: 1em
  }
  h5 {
    font-size: 0.875em
  }
  h6 {
    font-size: 0.85em;
    color: #6a737d
  }
  ul,
  ol {
    padding-left: 2em
  }
  ul.no-list,
  ol.no-list {
    padding: 0;
    list-style-type: none
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0
  }
  li>p {
    margin-top: 16px
  }
  li+li {
    margin-top: 0.25em
  }
  dl {
    padding: 0
  }
  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
  }
  dl dd {
    padding: 0 16px;
    margin-bottom: 16px
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse:collapse;
  }
  table th {
    font-weight: 600
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
  }
  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
  }
  table tr:nth-child(2n) {
    background-color: #f6f8fa
  }
  table img {
    background-color: transparent
  }
  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
  }
  img[align=right] {
    padding-left: 20px
  }
  img[align=left] {
    padding-right: 20px
  }
  .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
  }
  span.frame {
    display: block;
    overflow: hidden
  }
  span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #dfe2e5
  }
  span.frame span img {
    display: block;
    float: left
  }
  span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292e
  }
  span.align-center {
    display: block;
    overflow: hidden;
    clear: both
  }
  span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
  }
  span.align-center span img {
    margin: 0 auto;
    text-align: center
  }
  span.align-right {
    display: block;
    overflow: hidden;
    clear: both
  }
  span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
  }
  span.align-right span img {
    margin: 0;
    text-align: right
  }
  span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
  }
  span.float-left span {
    margin: 13px 0 0
  }
  span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
  }
  span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
  }
  code,
  tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px
  }
  code::before,
  code::after,
  tt::before,
  tt::after {
    letter-spacing: -0.2em;
    content: "\00a0"
  }
  code br,
  tt br {
    display: none
  }
  del code {
    text-decoration: inherit
  }
  pre {
    word-wrap: normal
  }
  pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
  }
  .highlight {
    margin-bottom: 16px;
    table {
      tr {
        border-top: none;
        background-color: transparent;
      }
      td {
        padding: 0;
        border: none;
        .line {
          height: 17px;
        }
      }
      .gutter {
        pre {
          padding-right: 0
        }
      }
      .code {
        vertical-align: top;
      }
    }
  }
  .highlight pre {
    margin-bottom: 0;
    word-break: normal
  }
  .highlight pre,
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px
  }
  pre code,
  pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
  }
  pre code::before,
  pre code::after,
  pre tt::before,
  pre tt::after {
    content: normal
  }
  .csv-data td,
  .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
  }
  .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0
  }
  .csv-data tr {
    border-top: 0
  }
  .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0
  }
  .code {
    .comment,
    .meta {
      color: #969896;
    }
    .string,
    .variable,
    .template-variable,
    .strong,
    .emphasis,
    .quote {
      color: #df5000;
    }
    .keyword,
    .selector-tag,
    .type {
      color: #a71d5d;
    }
    .literal,
    .symbol,
    .bullet,
    .attribute {
      color: #0086b3;
    }
    .section,
    .name {
      color: #63a35c;
    }
    .tag {
      color: #333333;
    }
    .title,
    .attr,
    .selector-id,
    .selector-class,
    .selector-attr,
    .selector-pseudo {
      color: #795da3;
    }
    .addition {
      color: #55a532;
      background-color: #eaffea;
    }
    .deletion {
      color: #bd2c00;
      background-color: #ffecec;
    }
    .link {
      text-decoration: underline;
    }
  }
}
