<footer>
  <div class="copyright">
    <div>
      &copy;
      <%= new Date().getFullYear() %> | Powered by <a href="https://hexo.io"
        target="_blank">Hexo</a>&nbsp
    </div>
    <div>
      Theme by <a href="https://github.com/lewis-geek/hexo-theme-Aath"
        target="_blank">Aath</a>
    </div>
  </div>
</footer>

<%if(is_post() || is_current('about')) { %>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<%- js('lib/ScrollMagic.min.js') %>
<%- js('lib/lodash.min.js') %>
<script>
  document.body.addEventListener('touchstart', function () { });

  // 文章图片预览
  $("article img").each(function () {
    var strA = "<a data-fancybox='gallery' href='" + this.src + "'></a>";
    $(this).wrapAll(strA);
  });

  // 目录联动
  let tocLinkList = $('.toc-link')

  let controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 0.01
    }
  })

  tocLinkList.each(function (index, elem) {
    let href = $(this).attr("href");
    let nextHref = tocLinkList.eq(index + 1).attr("href");
    let height = href && nextHref ? $(nextHref).offset().top - $(href).offset().top : 0

    new ScrollMagic.Scene({ triggerElement: href })
      .duration(height)
      .setClassToggle(".toc [href='" + href + "']", 'active')
      .addTo(controller)
  })

  window.addEventListener('load', function () {
    // 目录联动 图片加载完成后从新计算
    tocLinkList.each(function (index, elem) {
      let href = $(this).attr("href");
      let nextHref = tocLinkList.eq(index + 1).attr("href");
      let height = href && nextHref ? $(nextHref).offset().top - $(href).offset().top : 0

      new ScrollMagic.Scene({ triggerElement: href })
        .duration(height)
        .setClassToggle(".toc [href='" + href + "']", 'active')
        .addTo(controller)
    })
  })
</script>
<%- js('lib/jquery.fancybox.min.js') %>
<% } %>
