<footer>
  <div class="copyright">
    <div>
      &copy; <%= new Date().getFullYear() %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a>&nbsp
    </div>
    <div>
      Theme by <a href="https://github.com/lewis-geek">lewis</a>
    </div>
  </div>
</footer>
