<div class="paging">
  <div class="paging-container">
    <% if (page.prev) { %>
    <div class='page-prev'>
      <a href="<%- url_for(page.prev_link) %>"><%= __('prev') %></a>
    </div>
    <% } else { %>
    <div></div>    
    <% } %>
    <% if (page.next) { %>
    <div class='page-next'>
      <a href="<%- url_for(page.next_link) %>"><%= __('next') %></a>
    </div>
    <% } %>
  </div>
</div>
