$hover-color: #007fff;
$transition: .3s all;
$box-shadow: 0 2px 5px -2px rgba(0,0,0,.05);

@mixin basic {
  width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

@mixin left-container {
  width: 660px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: $box-shadow;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f5f5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include basic;
}

@import 'css/_partical/footer.scss';
@import 'css/_partical/header';

@import 'css/archive.scss';
@import 'css/about.scss';
@import 'css/post';
@import 'css/index';
@import 'css/tags.scss';
